div{
    background-color: aquamarine;
    display: inline-block;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: justify;

}

body{
    background-image: url(Image/2.jpg);
    background-position: bottom center;
    margin: 10px;
    padding: 10px;
}
button{
    border-radius: 5px;
    border: 2px solid blue;
}
.image{
    border:5px solid black;
    background-color: white;
    margin: 10px;
}

img{
    border: 5px solid green;;
    border-radius: 10px;
}
